*DS_Store*

# trying to catch word intermediate word files
~$stract_submission_form_piw_2021_v3.docx

# ignore phantoms files and other outputs from Neurohackademy2022
PHANTOMS.zip
*__MACOSX*
OpenNeuroPET-PHANTOMS/
ds001421-download/
mynewfolder*/
PET_pipelines